.top-bar-wrapper .right-side-top-bar button {
  transition: all 0.3s;
}
.top-bar-wrapper .right-side-top-bar button:hover {
  color: var(--white--);
  background-color: var(--gray--);
}
.top-bar-wrapper .left-side-top-bar form input:focus {
  box-shadow: none !important;
}

@media screen and (max-width: 540px) {
  .top-bar-wrapper {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}
@media screen and (min-width: 560px) and (max-width: 769px) {
  .courses-and-product-wrapper .courses-and-prod .row div .courses-card {
    width: 400px !important;
    margin: auto;
  }
}
a.target-link-location {
  left: 7%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

form.search-field-form input {
  transition: all 0.4s;
  width: inherit;
}
form.search-field-form input.active {
  width: 100% !important;
}
form.search-field-form ul.suggest-list {
  z-index: 999;
  width: 100% !important;
  display: none !important;
  visibility: hidden !important;
  margin-top: -20px;
}
form.search-field-form ul.suggest-list li {
  position: relative;
  transition: all 0.3s;
  background-color: var(--white--);
}
form.search-field-form ul.suggest-list li:hover {
  background-color: var(--primary--);
  color: var(--white--);
}
form.search-field-form ul.suggest-list li:hover a {
  color: var(--white--);
}
form.search-field-form ul.suggest-list li a {
  width: 100%;
  transition: inherit;
}
form.search-field-form ul.suggest-list li i {
  cursor: pointer;
}
form.search-field-form ul.active {
  display: block !important;
  visibility: visible !important;
}

@media screen and (max-width: 555px) {
  li.suggest-item label {
    font-size: 12px !important;
  }
  a.target-link {
    font-size: 13px !important;
  }
}
