.top-bar-wrapper .right-side-top-bar button {
  transition: all 0.3s;
}
.top-bar-wrapper .right-side-top-bar button:hover {
  color: var(--white--);
  background-color: var(--gray--);
}
.top-bar-wrapper .left-side-top-bar form input:focus {
  box-shadow: none !important;
}

@media screen and (max-width: 540px) {
  .top-bar-wrapper {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}
