
@font-face {
  font-family: "shabnam";
  src: url("../webfont/Shabnam-FD.eot") format("eot"), url("../webfont/Shabnam-FD.ttf") format("truetype"), url("../webfont/Shabnam-FD.woff") format("woff");
}
@font-face {
  font-family: "shabnam-bold";
  src: url("../webfont/Shabnam-Bold-FD.eot") format("eot"), url("../webfont/Shabnam-Bold-FD.ttf") format("truetype"), url("../webfont/Shabnam-Bold-FD.woff") format("woff");
}
@font-face {
  font-family: "shabnam-light";
  src: url("../webfont/Shabnam-Light-FD.eot") format("eot"), url("../webfont/Shabnam-Light-FD.ttf") format("truetype"), url("../webfont/Shabnam-Light-FD.woff") format("woff");
}
@font-face {
  font-family: "shabnam-medium";
  src: url("../webfont/Shabnam-Medium-FD.eot") format("eot"), url("../webfont/Shabnam-Medium-FD.ttf") format("truetype"), url("../webfont/Shabnam-Medium-FD.woff") format("woff");
}
:root {
  --primary--: #ffc107;
  --white--: #ffffff;
  --light--: #ececec;
  --dark--: #1f1f1f;
  --gray--: #777;
}

* {
  font-family: shabnam;
}

a {
  text-decoration: none;
}

header {
  background: url(../img/page-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
}
