table {
  tbody {
    td {
      background-color: white;
      p {
        a {
          transition: all 0.3s;
          &:hover {
            color: var(--primary--);
          }
        }
      }
      .img-cover-wrapper {
        height: 70px !important;

        img {
          height: 100%;
          // padding: 30px;
        }
      }
    }
  }
}
// responsive isLogin section
@media screen and (max-width: 560px) {
  section.login-link {
    div {
      .row {
        div {
          h5 {
            font-size: 19px !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  section.login-link {
    div {
      .row {
        div {
          h5 {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}

// responsive basket list
@media screen and (max-width: 651px) {
  table {
    thead {
      tr {
        .cover-prod {
          display: none !important;
        }
        th {
          font-size: 13px !important;
        }
      }
    }
    tbody {
      td.cover-wrapper {
        display: none !important;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  table {
    thead {
      tr {
        th {
          font-size: 11px !important;
          font-weight: bold !important;
        }
      }
    }
    tbody {
      font-size: 12px !important;
      td {
        p {
          font-size: 12px !important;
          text-align: center !important;
        }
      }
    }
  }
}
// total price and discount code
.discount-form {
  input {
    &:focus {
      box-shadow: none !important;
    }
  }
}
@media screen and (max-width:992px) {
    .left-side{
        width: 90% !important;
     .update-prise-btn,.purchase-btn{
        font-size: 14px !important;
        padding: 10px 9px !important;
       
     }
    }
}
@media screen and (max-width:400px) {
    .left-side{
        
     .update-prise-btn,.purchase-btn{
        font-size: 11px !important;
        padding: 10px 9px !important;
       
     }
    }
}
 @media screen and (max-width:400px ) {
    .right-side{
        input{
font-size: 12px !important;
        }
        button{
          font-size: 9px !important;  
          padding: 0px 7px !important;
        }
    }
 }